extends layout

block content
  .players-container
    h1(style="font-family: Arial, sans-serif; color: #333; text-align: center; margin-bottom: 20px;") Lista de Jogadores de Futebol com Imagens
    ul(style="list-style-type: none; padding: 0; display: flex; flex-wrap: wrap; justify-content: center;")
      each player in [
        { name: 'Cristiano Ronaldo', sport: 'Futebol', color: '#F44336', image: 'futebol.png' },
        { name: 'Bruno Fernandes', sport: 'Basquete', color: '#03A9F4', image: 'basquete.png' },
        { name: 'João Félix', sport: 'Tênis', color: '#4CAF50', image: 'tenis.png' },
        { name: 'Rúben Dias', sport: 'Vôlei', color: '#FFEB3B', image: 'volei.png' },
        { name: 'Bernardo Silva', sport: 'Natação', color: '#9C27B0', image: 'natacao.png' },
        { name: 'Diogo Jota', sport: 'Atletismo', color: '#FF9800', image: 'atletismo.png' },
        { name: 'Rui Patrício', sport: 'Boxe', color: '#795548', image: 'boxe.png' },
        { name: 'Pepe', sport: 'Golfe', color: '#00BCD4', image: 'golfe.png' },
        { name: 'João Cancelo', sport: 'Rugby', color: '#E91E63', image: 'rugby.png' }
      ]
        li(style="font-family: Arial, sans-serif; color: #333; margin: 10px; padding: 10px; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: all 0.3s ease; width: 200px; position: relative;")
          img(src=`/images/${player.image}`, alt=`${player.sport}`, style="width: 50px; height: auto; margin-bottom: 10px;")
          span(style=`font-family: Arial, sans-serif; color: ${player.color}; display: block; margin-bottom: 5px; text-align: center;`) #{player.name}
          span(style=`font-size: 12px; background-color: ${player.color}; color: white; padding: 3px 6px; border-radius: 5px; position: absolute; top: 5px; left: 5px;`) #{player.sport}
